.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: 15px auto;
  }
  
  .drag-drop-zone {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 300px;
    padding: 2rem;
    background: #f2f2f2;
    border-radius: 0.5rem;
  
    & .dropped-files {
      font-weight: bold;
    }
  }
  
  .drag-drop-zone.inside-drag-area {
    opacity: 0.7;
  }
  
  
  .container-drag {
    text-align: center;
  }
  
  .todo {
    position: absolute;
    width: 150px;
    height: 90vh;
    left: 0;
    top: 10;
    background-color: #FBF2ED;
    border-style: solid;
    border-width: 2px;
    color: #45597E;
  }
  
  .header {
    display: inline-block;
    color: #45597E;
    font-family: sans-serif;
    margin: 0;
    width:100%;
  }
  
  .task-header {
    display: inline-block;
    background-color: #DBE2F4;
    color: #45597E;
    font-family: sans-serif;
    width:100%;
    height: 30px;
    padding-top: 15px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
  }
  
  .droppable {
    position: absolute;
    width: 150px;
    height: 90vh;
    right: 0;
    background-color: #FBF2ED;
    border-style: solid;
    border-width: 2px;
    color: #45597E;
  }
  
  .draggable {
    width: 100px;
    height: 80px;
    margin: 15px auto;
    padding-top: 25px;
    border-style: solid;
    border-width: 2px;
    color: #45597E;
    font-family: sans-serif;
    font-weight: bold;
  }